{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
    <title>Mandacaru</title>
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="#header">
            <img src="{% static 'img/zap.png' %}" alt="logotipo">
        </a>
        <ul>
            <li>
                <a href="#projeto">PROJETO</a>
            </li>
            <li>
                <a href="#acesso">ACESSO</a>
            </li>
            <li>
                <a href="#servicos">SERVIÇOS</a>
            </li>
            <li>
                <a href="#contato">CONTATO</a>
            </li>
            <li>
                <button>
                    <img src="{% static 'img/login.png' %}" alt="Foto do usuário">
                </button>
            </li>
        </ul>
    </nav>
    <main>
        <section id="header">
            <div>
                <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>
            </div>
        </section>
        <section id="projeto">

        </section>
        <section id="acesso">
            <div class="logo-section">
            <img src="{% static 'img/acess.png' %}" alt="">
            </div>
            <aside>
                <div id="box-acesso">
                    <h2 class="user-function-title">SOU PROFISSIONAL</h2>
                    <article class="box-login">
                        <header>
                            <div class="items-acesso">
                                <button>ENTRAR COM FACEBOOK</button>
                            </div>
                            <div class="items-acesso">
                                <button>ENTRAR COM GOOGLE</button>
                            </div>
                            <div class="items-acesso">
                                <strong>ou</strong>
                            </div>
                            <div class="items-acesso">
                                <input type="email" name="" id="" placeholder="Email">
                            </div>
                            <div class="items-acesso">
                                <input type="password" name="" id="" placeholder="Senha">
                            </div>
                            <div class="items-acesso">
                                <div>
                                    <a href="">CADASTRE-SE</a>
                                    <a href="">ESQUECI A SENHA</a>
                                </div>
                            </div>
                        </header>
                    </article>
                </div>
                <div id="box-acesso">
                    <h2 class="user-function-title">SOU CLIENTE</h2>
                    <article class="box-login">
                        <header>
                            <div class="items-acesso">
                                <button>ENTRAR COM FACEBOOK</button>
                            </div>
                            <div class="items-acesso">
                                <button>ENTRAR COM GOOGLE</button>
                            </div>
                            <div class="items-acesso">
                                <strong>ou</strong>
                            </div>
                            <div class="items-acesso">
                                <input type="email" name="" id="" placeholder="Email">
                            </div>
                            <div class="items-acesso">
                                <input type="password" name="" id="" placeholder="Senha">
                            </div>
                            <div class="items-acesso">
                                <div>
                                    <a href="">CADASTRE-SE</a>
                                    <a href="">ESQUECI A SENHA</a>
                                </div>
                            </div>
                        </header>
                    </article>
                </div>
            </aside>
        </section>
        <section id="servicos">
            <div class="logo-section">
                <img src="{% static 'img/serv.png' %}" alt="">
            </div>
            <aside>
                <div>
                    <div>
                        <div>
                            <h2>Corte de Cabelo</h2>
                            <h3>Jorge barber</h3>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2>Corte de Cabelo</h2>
                            <h3>Jorge barber</h3>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2>Corte de Cabelo</h2>
                            <h3>Jorge barber</h3>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2>Corte de Cabelo</h2>
                            <h3>Jorge barber</h3>
                        </div>
                    </div>
                </div>
            </aside>
        </section>
    </main>
    <footer id="contato">
        <div class="logo-section">
            <img src="{% static 'img/cont.png' %}" alt="">
        </div>
        <aside>
            <div id="flex-footer">
                <div id="input-newsletter">
                    <label for="newsletter">ASSINE NOSSA NEWSLETTER</label>
                    <div id="input-newsletter-button">
                        <input type="text" name="newsletter" id="" placeholder="Email">
                        <button>Assinar</button>
                    </div>
                </div>
                <div id="contact-footer">
                    <div id="first-contact">
                        <p>ENTRE EM CONTATO COM A GENTE!</p>
                        <div>
                            <img src="{% static 'img/zap.png' %}" alt="whatsapp logo">
                            <strong>035 98834-2738</strong>
                        </div>
                        <div>
                            <img src="{% static 'img/email.png' %}" alt="email logo">
                            <p>contato@email.com.br</p>
                        </div>
                    </div>
                    <div id="second-contact">
                        <div>
                            <p>VEM COM A GENTE</p>
                            <p>NAS REDES SOCIAIS!</p>
                        </div>
                        <img src="{% static 'img/redes.png' %}" alt="Icones das redes sociais">
                    </div>
                </div>
            </div>
            <div id="flex-footer-2">
                <p>ACESSE TAMBÉM PELO APLICATIVO</p>
                <img src="{% static 'img/gp.png' %}" alt="icone google play">
                <img src="{% static 'img/as.png' %}" alt="icone apple store">
            </div>
        </aside>
    </footer>
</body>
</html>