{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Mega Hack Covid-19</title>
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    <nav>
        
    </nav>
    <main>
        <section id="header">

        </section>
        <section id="projeto">

        </section>
        <section id="acesso">
            <aside>
                <div>
                    <h2 class="user-function-title">SOU PROFISSIONAL</h2>
                    <article class="box-login">

                    </article>
                </div>
                <div>
                    <h2 class="user-function-title">SOU CLIENTE</h2>
                    <article class="box-login">

                    </article>
                </div>
            </aside>
        </section>
        <section id="servicos">

        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>