{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Mega Hack Covid-19</title>
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    <nav>
        
    </nav>
    <main>
        <section id="header">

        </section>
        <section id="projeto">

        </section>
        <section id="acesso">
            <aside>
                <div id="box-acesso">
                    <h2 class="user-function-title">SOU PROFISSIONAL</h2>
                    <article class="box-login">
                        <header>
                            <div class="items-acesso">
                                <button>ENTRAR COM FACEBOOK</button>
                            </div>
                            <div class="items-acesso">
                                <button>ENTRAR COM GOOGLE</button>
                            </div>
                            <div class="items-acesso">
                                <strong>ou</strong>
                            </div>
                            <div class="items-acesso">
                                <input type="email" name="" id="" placeholder="Email">
                            </div>
                            <div class="items-acesso">
                                <input type="password" name="" id="" placeholder="Senha">
                            </div>
                            <div class="items-acesso">
                                <div>
                                    <a href="">CADASTRE-SE</a>
                                    <a href="">ESQUECI A SENHA</a>
                                </div>
                            </div>
                        </header>
                    </article>
                </div>
                <div id="box-acesso">
                    <h2 class="user-function-title">SOU CLIENTE</h2>
                    <article class="box-login">
                        <header>
                            <div class="items-acesso">
                                <button>ENTRAR COM FACEBOOK</button>
                            </div>
                            <div class="items-acesso">
                                <button>ENTRAR COM GOOGLE</button>
                            </div>
                            <div class="items-acesso">
                                <strong>ou</strong>
                            </div>
                            <div class="items-acesso">
                                <input type="email" name="" id="" placeholder="Email">
                            </div>
                            <div class="items-acesso">
                                <input type="password" name="" id="" placeholder="Senha">
                            </div>
                            <div class="items-acesso">
                                <div>
                                    <a href="">CADASTRE-SE</a>
                                    <a href="">ESQUECI A SENHA</a>
                                </div>
                            </div>
                        </header>
                    </article>
                </div>
            </aside>
        </section>
        <section id="servicos">

        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>