*{
    scroll-behavior: smooth;
}
body{
    background-image: url('/static/img/fundo.png');
    background-size: cover;
    display: grid;
    grid-template-areas:
                        'main main main main'
                        'footer footer footer footer';
    grid-template-rows: 400vh 50vh;
    margin: 0;
    padding: 0;
}
nav{
    align-items: center;
    background: #e0d7d0;
    display: flex;
    height: 10vh;
    justify-content: space-around;
    margin: -1px;
    position: fixed;
    top: 0;
    width: 101%;
    z-index: 1000;
}
nav ul{
    align-items: center;
    display: flex;
    font-family: 'Gilroy', sans-serif;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 60%;
}
nav ul li a{
    color: #3f358e;
    font-size: 20pt;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover{
    border-bottom: 3px solid #b72160;
    color: #3f5da6;
    transition: 0.3s all;
}
nav ul li button{
    background: none;
    border: none;
    cursor: pointer;
    outline: 0;
}
main{
    grid-area: main;
    margin-top: 10vh;
}
main section#header{
    align-items: center;
    background-attachment: fixed;
    background-image: url('/static/img/back.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}
main section#header div{
    display: flex;
    height: 100%;
    width: 40%;
}
main section#header div h1{
    color: #ffffff;
    font-family: 'Gilroy', sans-serif;
    font-size: 30pt;
}
main section#projeto{
    background:none;
    background-position: 200px;
    height: 100vh;
}
main section#acesso{
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}
section#acesso div.logo-section{
    display: flex;
    justify-content: start;
    width: 100%;
}
section#acesso aside{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 70%;
    width: 80%;
}
#box-acesso{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 45%;
}
.user-function-title{
    font-family: 'Gilroy', sans-serif;
    margin: 0;
}
section#acesso aside div:first-child h2{
    color: #3f358e;
}
section#acesso aside div h2{
    color: #b72160;
}
.box-login{
    align-items: center;
    border-radius: 20%;
    display: flex;
    height: 90%;
    width: 75%;
}
.box-login header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 100%;
}
.items-acesso{
    align-items: center;
    display: flex;
    font-family: 'Gilroy', sans-serif;
    justify-content: center;
    height: 50px;
    width: 80%;
}
.items-acesso:nth-child(1) button{
    background-color: #3f5da6;
    border: none;
    border-radius: 18px;
    color: #ffffff;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
    height: 85%;
    width: 90%;
}
.items-acesso:nth-child(2) button{
    background-color: #ea4235;
    border: none;
    border-radius: 18px;
    color: #ffffff;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
    height: 85%;
    width: 90%;
}
.items-acesso:nth-child(3) strong{
    color: #3f358e;
    font-size: 24pt;
}
.items-acesso:nth-child(4) input, .items-acesso:nth-child(5) input{
    border: 2.45px solid #808080;
    border-radius: 21px;
    color: #808080;
    font-weight: bold;
    height: 82%;
    outline: 0;
    padding-left: 15px;
    width: 87%;
}
#box-acesso:nth-child(1) .box-login header .items-acesso:nth-child(4) input:focus, #box-acesso:nth-child(1) .box-login header div.items-acesso:nth-child(5) input:focus{
    border-color: #3f358e;
    color: #3f358e;
    transition: 0.4s;
}
#box-acesso:nth-child(2) .box-login header .items-acesso:nth-child(4) input:focus, #box-acesso:nth-child(2) .box-login header div.items-acesso:nth-child(5) input:focus{
    border-color: #b72160;
    color: #b72160;
    transition: 0.4s;
}
.items-acesso:nth-child(6) div{
    align-items: center;
    display: flex;    
    justify-content: space-between;
    width: 95%;
}
.items-acesso:nth-child(6) div a{
    color: #3f358e;
    font-size: 10pt;
    font-weight: bold;
}
#box-acesso:nth-child(2) .box-login header .items-acesso:nth-child(6) div a{
    color: #b72160;
}
.items-acesso:nth-child(6) div a:hover{
    text-decoration: none;
}
section#acesso aside div:first-child article {
    border: 3px solid #3f358e;
    box-shadow: -20px 15px #87b2b9;
}
section#acesso aside div:last-child article{
    border: 3px solid #b72160;
    box-shadow: -20px 15px #d05a8a;
}
main section#servicos{
    background: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}
main section#servicos aside{
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: center;
    width: 100%;
}
main section#servicos aside div{
    background-color: #3f358e;
    height: 60%;
    width: 90%;
}
footer{
    background-color: #d05a8a;
    border-bottom: 10px solid #3f358e;
    grid-area: footer;
}
::-webkit-scrollbar{
    background-color: #e0d7d0;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #bc376e;
}
::-webkit-scrollbar-track{
    background-color: #ddbec2;
}